/* html */
body { font-size: 1.5em; background: black; color: white; text-align: center; font-family: 'Oswald', sans-serif; margin: 0; overflow-x: hidden; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; text-transform: uppercase; margin: 0; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
p { margin: 0 0 1em; }
li { margin-bottom: .5em; }
quote { font-size: 2em; display: block; }
table { margin: 0 auto; border-collapse: collapse; }
thead tr:last-child th { border-bottom: 2px solid white; }
th, td { padding: .25em; }
th:first-child, td:first-child { text-align: left; }
th:last-child, td:last-child { text-align: right; }
tr.highlight td { background: rgba(255,255,255,.25); }
section { padding: 1em; }
form input { padding: 1em; }
form button { padding: 1em; }

/* header */
#header { background: rgb(64,64,64); box-shadow: 0 0 40px rgba(0,0,0,.25); position: relative; padding: 1em 0 .5em; }
#logo { max-width: 200px; }

/* home */
/** home 1 **/
#home-1 { padding-top: 0; background: url('/img/home/1.jpg') top right no-repeat; background-size: 66%; align-items: stretch; }
#home-1-1 { display: flex; align-items: center; justify-content: center; }
#home-1-1 iframe { width: 100%; }
#home-1-img { display: none; }
#home-h2 { display: inline-block; }
#home-h2-1 { display: block; font-size: 2.15em; line-height:.4em; }
#home-h2-2 { display: block; font-size: 1.15em; line-height: 2.2em; }

/** home 2 **/
#home-2 { padding-top: 5%; padding-bottom: 5%; background: #444 url(/img/bg.jpg) repeat 0 0 scroll; }
#home-2-2 { display: flex; justify-content: center; flex-wrap: wrap; }
#home-2-2 > div { cursor: pointer; margin-right: 1em; }
#home-2-2 > div > img { width: 200px; margin: 1em 0 0 0; }
#home-2-2 > div > img.active { box-shadow: 0 0 25px rgb(0,128,255); }

/** home-audioPlayer **/
.audioPlayer { margin-top: 1em; font-family: arial; font-size: 12pt; text-align: left; }
.audioPlayer .controls { margin: .5em 0; text-align: left; max-width: 400px; background: rgba(0,0,0,.25); padding: .5em; border-radius: 12px; margin: 0 auto 1em; display: flex; align-items: center; }
.audioPlayer .controls .control-btn { center; box-sizing:border-box; padding-right: 2em; cursor: pointer; }
.audioPlayer .controls .control-btn:first-child { padding-left: 1em; }
.audioPlayer .controls .progress-container { background: rgba(0,0,0,.2); width: 100%; height: 10px; border-radius: 5px; position: relative; }
.audioPlayer .controls .progress-container .clickable { width: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0; cursor: pointer; }
.audioPlayer .controls .progress { background: rgba(0,128,255,1); height: 100%; border-radius: 5px; }
.audioPlayer .playlist { border-bottom: 1px solid rgba(255,255,255,.1); border-top: 1px solid rgba(0,0,0,.15); background: rgba(0,0,0,.15); max-width: 500px; margin: 0 auto; display: block; padding: 1em; border-radius: 8px; max-height: 215px; overflow-y: auto; }
.audioPlayer .playlist li { list-style: none; position: relative; overflow: hidden; padding: 1em; cursor: pointer; margin: 0; color:rgba(255,255,255,.5); border-top: 1px solid rgba(255,255,255,.1); border-bottom: 1px solid black; }
.audioPlayer .playlist li:first-child { border-top: none; }
.audioPlayer .playlist li:last-child { border-bottom: none; }
.audioPlayer .playlist li.active { background: rgba(0,0,0,.15); color:white; }
.audioPlayer .playlist li:first-child.active { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.audioPlayer .playlist li:last-child.active { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.audioPlayer .playlist li.active .progress { background: rgba(0,128,255,.5); position: absolute; top: 0; left: 0; bottom: 0; transition: width .5s linear; }
.audioPlayer .playlist li .content { position: relative; }
.audioPlayer .playlist li .clickable { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.audioPlayer .playlist .name { float: left; }
.audioPlayer .playlist .duration { float: right; }
.audioPlayer .playlist .stars { display: inline-block; float: right; margin-right: 1em; opacity: .5; background: url('/img/star.png'); height: 16px; }
#scroll-icon { margin-top: .5em; opacity: .25; }

/** home 3 **/
#home-3 { background: url('/img/home/3.jpg'); align-items: center; }
#home-3-1-1 { min-width: 295px; }
#home-3-1-1 > img { max-width: 100px; }

/** home 4 **/
#home-4 { background: url('/img/home/4.jpg'); background-size: cover; }
#home-4-1, #home-4-2 { display: flex; align-items: center; justify-content: center; }
#home-4-1-1 { max-width: 600px; text-align: left; }
#home-4-2-1 { width: 100%; max-width: 500px; }
#home-4-2-1 > img { max-width: 200px; }

/** home 5 **/
#home-5 { padding-top: 5%; padding-bottom: 5%; background: rgba(255,255,255,.12); display: flex; justify-content: center; }

/* footer */
#footer { font-size: 12pt; color: gray; padding:2.5%; }
#footer img { max-width: 290px; }

/* popup */
.popup { padding: 5%; visibility: hidden; position: fixed; z-index: 1000; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,.75); display: flex; align-items: center; justify-content: center; }
.popup .panel { background: white; box-shadow: 0 0 20px black; margin: 0 auto; max-width: 500px; }

/* panel */
.panel { font-family: arial; }
.panel-heading { background: rgb(64,64,64); color: white; text-align: center; padding: 1em; }
.panel-heading h1, .panel-heading h2, .panel-heading h3 { font-size: 1em; }
.panel-body { color: black; padding: 5%; }
.panel-footer { background: rgb(235,235,235); padding: 1em; }
.panel-footer .btn { width: inherit; }

/* global classes */
.loading { width: 20px; height: 20px; max-width: 20px !important; position: absolute; top: -17px; left:45%; }
.disabled { opacity: .25; }
.strike { display: inline-block; }
.strike .line { border-bottom: 4px solid red; margin-top: -.75em; }
.align-center { text-align: center; }
.margin-auto { margin: 0 auto; }
.input-group { display: table; }
.input-group input, .input-group button { display: table-cell; }
.alert { padding: 1em; margin-bottom: 1em; }
.success { background: rgb(128,255,128); color: black; }
.danger { background: rgb(255,128,128); color: black; }
.semitransparent { opacity: .5; }
.btn { border: none; display: inline-block; width: 100%; max-width: 300px; margin: 0 auto 1em; font-size: 1em; padding: 1em; text-transform: uppercase; cursor: pointer; text-decoration: none; }
.btn-primary { background: rgb(255,0,0); color: white; }
.img-left { float: left; margin: 0 1em 1em 0; }
.align-left { text-align: left; }
.inline-block { display: inline-block; }
.position-relative { position: relative; z-index: 1; }
[class*="col-"] { padding: 1em 0; box-sizing: border-box; position: relative; }
.flex { display: flex; }
.black-filter { opacity: .75; background: black; position: absolute; display: none; top: 0; right: 0; bottom: 0; left: 0; }

/* For desktop: */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

@media only screen and (max-width: 1300px) {
    /* For mobile phones: */
    img { width:100% !important; }
    .flex { display: inherit; }
    .black-filter { display: inherit; opacity: .25; }
    [class*="col-"] {
      position: relative;
        width: 100%;
    }

    body { font-size: 1em }
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.25em; }
    section { padding: 10% 5% !important; }
    quote { font-size: 1.5em; }

    /* home */
    /** home-1 **/
    #home-1 { background: none; padding-top: 0 !important }
    #home-1 .black-filter { display: block; }
    #home-1-img { display: inherit; }
    #home-1-1 { display: inherit; padding-top: 0; }

    /** home-2 **/
    #home-2 img { max-width: 130px; margin: 1em 1em 0 0; }

    /** audio player **/
    .audioPlayer { font-size: 10pt; }
}
